<!doctype html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <title>Ansible'matic</title>

  <link rel="stylesheet" href="assets/topstyle.css"/>
  <link rel="stylesheet" href="assets/form.css"/>
  <script src="assets/jquery-2.1.4.min.js"></script>

</head>

<body>

  <header id="topbar">
    <h1>Ansible</h1>
    <nav>
      <a href="/status">Status</a>
    </nav>
    <div class="clear"></div>
  </header>

  <form action="/" method="post" class="ansible">
    <div>
      <label for="machines">Machines</label>
      <select multiple="multiple" name="machines" class="machines">
	{{range .Machines}}<option value="{{.}}">{{.}}</option>
	{{end}}
      </select>

      <script>
	$( ".machines" ).change(function () {
	  var str = "[all]\n"
	  var ansible_text = " ansible_ssh_host=192.168.0.XX ansible_ssh_user=root ansible_ssh_pass=ftServer\n"
	  $( ".machines option:selected" ).each(function () {
	    str = str + $( this ).text() + ansible_text
	  })
	  $( "textarea#inventory" ).val(str)
	})
      </script>
    </div>

    <div>
      <label for="inventory">Inventory</label>
      <textarea id="inventory" name="inventory" style="height: 8em" wrap="off"></textarea>
    </div>

    <div>
      <label for="playbook_selection">Playbooks</label>
      <select name="playbook_selection" class="playbook_selection">
	<option selected>Select Playbook</option>
	{{range .Playbooks}}<option value="{{.}}.yml">{{.}}</option>
	{{end}}
      </select>

      <script>
	$( ".playbook_selection" ).change( function() {
	  var str = ""
	  $( ".playbook_selection option:selected" ).each(function() {
	    str += $( this ).text()
	  })
	  $.get( "playbooks/" + str + ".yml", function( data ) {
	    $( "textarea#playbook" ).val( data )
	  })
	})
      </script>
    </div>
<!-- if we want to add roles from those available
    <div>
      <label for="roles">Roles</label>
      <select name="roles" class="roles">
	<option selected></option>
	{{range .Roles}}<option value="{{.}}">{{.}}</option>
	{{end}}
      </select>

      <script>
      </script>
    </div>
-->
<!-- if we come up with some environment that is pre-arranged in a role
    <div>
      <label for="environment">Env</label>
      <select name="environment" class="environment">
	<option selected></option>
	<option value="set_some_tunable">set_some_tunable</option>
      </select>
    </div>
-->
    <div>
      <label for="playbook">Playbook</label>
      <textarea id="playbook" name="playbook" style="height: 20em" wrap="off"></textarea>
    </div>

    <div class="button" align="right">
      <button type="submit" name="ansible" value="ansible_submit">Submit</button>
    </div>
  </form>

</body>
</html>
