<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Status</title>

    <link rel="stylesheet" href="/assets/topstyle.css"/>
    <link rel="stylesheet" href="/assets/form.css"/>
    <script src="/assets/jquery-2.1.4.min.js"></script>

  </head>
  <body>

    <header id="topbar">
      <h1>Status</h1>
      <nav>
	<a href="/">New Job</a>
      </nav>
      <div class="clear"></div>
    </header>

    <script>
      $(document).ready(function() {
	  var loc = $(location).attr('protocol') + "//" + $(location).attr('host')
              $.getJSON(loc + "/api/v1/jobs", function( data ) {
		  var items = []
		  $.each( data, function( index, value ) {
		      console.log(index, value)
		      items.push( "<li id='" + value.job + "'><a href=\"" + value.link + "\">" + value.job + "</a></li>" );
		  });

		  $( "<ul/>", {
		      "class": "my-new-list",
		      html: items.join( "" )
		  }).appendTo( "body" );
          });
      });
    </script>

  </body>
</html>
